body{
   margin: 8px;
}
h1, h2{
   display: flex;
   align-content: center;
   justify-content: center;
}

.logo{
   display: flex;
   flex-direction: row; 
   text-align: center;  
   justify-content: space-between;  
   gap: 15px;  
} 
.logo img{
   width: 60px;
   height: 60px;
}
.lien{
   color: black;
   text-decoration: none;
   font-weight: 500;
}

  
.avatar{
   width: 70px;
   height: 70px;
   border-radius: 100%;
   border: 3px solid blue;
}
nav{
   display: flex;    
   height: 100%;
   align-content: center;
   justify-content: space-between;
   background: white;
   padding: 10px 30px;
   box-shadow: 10px 5px 5px red;
   align-items: center;
   border-radius: 5%;
   border: 3px solid orangered;
}
ul{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   gap: 30px;
}
li{
   display: flex;
   flex-direction: row;
   text-decoration: none;
}
.bouton-avatar{
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 10px;
}
.bouton{
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 8px;
   text-decoration: none;
   padding: 8px 16px;
   width: fit-content;
   font-weight: 500;  
   
}

.bouton.primaire{
   background: rgb(34, 204, 34);
   color: black;
}
button{
 display: flex;
   align-content: center;
   justify-content: center;
   border-radius: 8px;
   text-decoration: none;
   padding: 8px 16px;
   width: fit-content;
   font-weight: 500; 
   background: yellow;
   color: black;   
}
.textDiv{
display: flex;
flex-direction: column;
text-align: center;
justify-content: center;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    border-radius: 5%;
   border: 3px solid yellow;
   padding: 10px 30px;
   box-shadow: 10px 5px 5px yellow;
    
    color: black;  
}
#accroche {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   gap: 50px;
}
#accroche li{
   display: flex;
   flex-direction: column;
   padding: 20px;
}
main{
   display: flex;
   flex-direction: column;
}
#sectionArticleRecent{
   display: flex;
   flex-direction: column;

}
.carteArticleRecent{
 display: flex;
   flex-direction: column;
   border-radius: 5%;
   border: 3px solid blue;
   padding: 10px 30px;
   box-shadow: 10px 5px 5px blue;
   align-items: center;
   text-align: center;  
}
#sectionArticles{
   display: flex;
   flex-direction: column;
}
#sectionArticles img{
   width: 200px;
   height: 200px;
}

 
    

.carteArticle{
   display: flex;
   flex-direction: row;
   border-radius: 5%;
   border: 3px solid green;
   padding: 10px 30px;
   box-shadow: 10px 5px 5px green;
   align-items: center;
   text-align: center;

}
#sectionAuteurs{
   display: flex;
   flex-direction: row;
}
#sectionAuteurs img{
   
   width: 70px;
   height: 70px;
   border-radius: 100%;
   border: 3px solid orangered;
}
.carteAuteur{
   display: flex;
   flex-direction: column;
   border-radius: 10%;
   border: 3px solid red;
   padding: 10px 30px;
   box-shadow: 10px 5px 5px red;
   align-items: center;
   text-align: center;
}




footer
{display: flex;
align-items: center;
justify-content: center;
font-weight: 500;
border-radius: 5%;
border: 3px solid orangered;
padding: 10px 30px;
box-shadow: 10px 5px 5px orangered;
}